body {
  scroll-behavior: smooth;
}



.carousel-img {
  
    max-height: 500px; 
    object-fit: cover;  
  
  }
  
  .carousel {
    width: 100%;
  }
  
  .carousel-caption h5 {
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
  }
  

  .container-fluid {
    padding: 0;
    margin: 0;
  }
  
  .carousel {
    width: 100%;
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
  }
  