


.container {

  backdrop-filter: blur(10px); 
  background-color: rgba(255, 255, 255, 0.3); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.custom-navbar {
  margin-top: 2px;
  background-color: rgba(10, 3, 3, 0.2); 
  backdrop-filter: blur(15px); 
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333; 
}

.nav-link {
  margin-right: 1.5rem;
  font-size: 1.2rem;
  color: #555; 
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  color: #007bff; 
  transform: scale(1.1);
}

.btn-primary {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.navbar-nav {
  align-items: center;
}

.container-fluid {
  margin-left: 2rem;
  margin-right: 2rem;
}

@media (max-width: 768px) {
  .navbar-nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .nav-link {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}


body{
  background-color: #333;
}